<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.koolew.mars" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- For images from picasa -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MarsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".VideoShootActivity"
            android:label="@string/title_activity_video_shoot"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FirstLoginActivity"
            android:label="@string/title_activity_first_login"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PhoneLoginActivity"
            android:label="@string/title_activity_phone_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <activity
            android:name=".InputPasswordActivity"
            android:label="@string/title_activity_input_password"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".InitPersonalInfoActivity"
            android:label="@string/title_activity_init_personal_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ImportPhoneFriendsActivity"
            android:label="@string/title_activity_import_phone_friends"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 必须注册在微博授权，分享微博时候用到 -->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name" />

        <service
            android:name=".services.UploadAvatarService"
            android:exported="false" >
        </service>

        <activity
            android:name=".LaunchActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TopicActivity"
            android:label="@string/title_activity_topic"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PushSettingsActivity"
            android:label="@string/title_activity_push_settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ChangeInfoActivity"
            android:label="@string/title_activity_change_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ChangeNicknameActivity"
            android:label="@string/title_activity_change_nickname"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ChangePhoneNumberActivity"
            android:label="@string/title_activity_modify_phone_number"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CoinRuleActivity"
            android:label="@string/title_activity_coin_rule"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".KooRankActivity"
            android:label="@string/title_activity_koo_detail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FriendInfoActivity"
            android:label="@string/title_activity_friend_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CommonTopicActivity"
            android:label="@string/title_activity_common_topic"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CommonFriendActivity"
            android:label="@string/title_activity_common_friend"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TaskActivity"
            android:label="@string/title_activity_task"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".WebActivity"
            android:label="@string/title_activity_web"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PushWrapperActivity"
            android:label="@string/title_activity_push_wrapper"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FriendTaskActivity"
            android:label="@string/title_activity_friend_task"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SendDanmakuActivity"
            android:label="@string/title_activity_send_danmaku"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DanmakuTabActivity"
            android:label="@string/title_activity_danmaku_tab"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".VideoEditActivity"
            android:label="@string/title_activity_video_edit"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".VideoPrivacyActivity"
            android:label="@string/title_activity_video_privacy"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AddTopicActivity"
            android:label="@string/title_activity_add_topic"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".InviteActivity"
            android:label="@string/title_activity_invite"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
