<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.koolew.mars">

    <!-- Jpush -->
    <permission
        android:name="com.koolew.mars.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="com.koolew.mars.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>

    <!-- For images from picasa -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MarsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_PAY_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VideoShootActivity"
            android:exported="false"
            android:label="@string/title_activity_video_shoot"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".FirstLoginActivity"
            android:exported="false"
            android:label="@string/title_activity_first_login"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PhoneLoginActivity"
            android:exported="false"
            android:label="@string/title_activity_phone_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity
            android:name=".InputPasswordActivity"
            android:exported="false"
            android:label="@string/title_activity_input_password"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".InitPersonalInfoActivity"
            android:exported="false"
            android:label="@string/title_activity_init_personal_info"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"/>

        <service
            android:name=".services.UploadAvatarService"
            android:exported="false"/>

        <activity
            android:name=".LaunchActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".PushSettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_push_settings"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ChangeInfoActivity"
            android:exported="false"
            android:label="@string/title_activity_change_info"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ChangeNicknameActivity"
            android:exported="false"
            android:label="@string/title_activity_change_nickname"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ChangePhoneNumberActivity"
            android:exported="false"
            android:label="@string/title_activity_modify_phone_number"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CoinRuleActivity"
            android:exported="false"
            android:label="@string/title_activity_coin_rule"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".KooRankActivity"
            android:exported="false"
            android:label="@string/title_activity_koo_detail"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".FriendInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".KoolewWebActivity"
            android:exported="false"
            android:label="@string/title_activity_web"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PushWrapperActivity"
            android:exported="false"
            android:label="@string/title_activity_push_wrapper"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".FriendTaskActivity"
            android:exported="false"
            android:label="@string/title_activity_friend_task"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SendDanmakuActivity"
            android:exported="false"
            android:label="@string/title_activity_send_danmaku"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".VideoEditActivity"
            android:exported="false"
            android:label="@string/title_activity_video_edit"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".VideoPrivacyActivity"
            android:exported="false"
            android:label="@string/title_activity_video_privacy"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AddTopicActivity"
            android:exported="false"
            android:label="@string/title_activity_add_topic"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".InviteActivity"
            android:exported="false"
            android:label="@string/title_activity_invite"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PrivacyPolicyActivity"
            android:exported="false"
            android:label="@string/title_activity_privacy_policy"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TopicKooRankActivity"
            android:exported="false"
            android:label="@string/title_activity_topic_koo_rank"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".VideoKooRankActivity"
            android:exported="false"
            android:label="@string/title_activity_video_koo_rank"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".EditTopicDescActivity"
            android:exported="false"
            android:label="@string/title_activity_edit_topic_desc"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TitleFragmentActivity"
            android:exported="false"
            android:label="@string/title_activity_title_fragment"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TodayIncomeActivity"
            android:exported="false"
            android:label="@string/title_activity_today_income"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BindAlipayAccountActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CashOutActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CashOutRecordActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".IncomeAnalysisActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".IncomeExplainActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UserAgreementActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CreateTopicActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity
            android:name=".MovieStudioActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".JoinMovieActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TopicMediaActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UserMediaActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".VideoShareActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".JoinVideoActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".GlobalSearchActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <!-- Jpush -->
        <!-- Required -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER"/>
                <action android:name="cn.jpush.android.intent.REPORT"/>
                <action android:name="cn.jpush.android.intent.PushService"/>
                <action android:name="cn.jpush.android.intent.PUSH_TIME"/>
            </intent-filter>
        </service>

        <!-- Required SDK 核心功能 -->
        <!-- since 1.8.0 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService"/>

                <category android:name="com.koolew.mars"/>
            </intent-filter>
        </service>

        <!-- Required -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/>

                <category android:name="com.koolew.mars"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.koolew.mars"/>
            </intent-filter>
        </activity>
        <!-- Required SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false"/>
        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver"/>

        <!-- User defined. 用户自定义的广播接收器 -->
        <receiver
            android:name=".receiver.JpushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>

                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION"/>
                <action android:name="cn.jpush.android.intent.UNREGISTRATION"/>
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/>
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/>
                <!-- Required 用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/>
                <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK"/>
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION"/>

                <category android:name="com.koolew.mars"/>
            </intent-filter>
        </receiver>

        <!-- Required. For publish channel feature -->
        <!-- JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。 -->
        <!-- 例如: -->
        <!-- 发到 Google Play 的APK可以设置为 google-play; -->
        <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
        <!-- 目前这个渠道统计功能的报表还未开放。 -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default"/>
        <!-- Required. AppKey copied from Portal -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="adc2997d3bce85a0363857e9"/>

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="fd621d57c604311836719bfe4ea1b5e7"/>

        <!-- Channel: -->
        <!-- firim: fir.im -->
        <!-- koolew: 自己的渠道 -->
        <!-- YingYongBao: 应用宝 -->
        <!-- MeiPai: 美拍 -->
        <!-- WeiBoYi: -->
        <!-- 360: 360手机助手 -->
        <!-- 91: 91助手 -->
        <!-- Baidu: 百度应用中心 -->
        <!-- AnZhi: 安智市场 -->
        <!-- WanDouJia: 豌豆荚 -->
        <!-- AnZhuo: 安卓市场 -->
        <!-- MuMaYi: 木蚂蚁市场 -->
        <!-- GooglePlay: Google Play -->
        <!-- JiFeng: 机锋市场 -->
        <!-- XiaoMi: 小米市场 -->
        <!-- HuaWei: 华为应用汇 -->
        <meta-data
            android:name="TD_APP_ID"
            android:value="05766CB5DFA5745AC0BF76A13B1AFC31"/>
        <meta-data
            android:name="TD_CHANNEL_ID"
            android:value="${TD_CHANNEL_VALUE}"/>
    </application>

</manifest>