<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.koolew.mars" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
 sss

    <!-- For images from picasa -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MarsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".VideoShootActivity"
            android:label="@string/title_activity_video_shoot"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FirstLoginActivity"
            android:label="@string/title_activity_first_login"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PhoneLoginActivity"
            android:label="@string/title_activity_phone_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <activity
            android:name=".InputPasswordActivity"
            android:label="@string/title_activity_input_password"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".InitPersonalInfoActivity"
            android:label="@string/title_activity_init_personal_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ImportPhoneFriendsActivity"
            android:label="@string/title_activity_import_phone_friends"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 必须注册在微博授权，分享微博时候用到 -->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name" />

        <service
            android:name=".services.UploadAvatarService"
            android:exported="false" >
        </service>

        <activity
            android:name=".LaunchActivity"
            android:label="@string/title_activity_launch" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TopicActivity"
            android:label="@string/title_activity_topic"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PushSettingsActivity"
            android:label="@string/title_activity_push_settings" >
        </activity>
    </application>

</manifest>
